/* used on search page */
.poster-row{
    margin-top: 15px
}
/* My Shows page */

#my-shows{
  margin-bottom: 25px;
}

.nav-pills>li.active>a{
  background-color: #f0ad4e;
}

.nav-pills>li.active>a:hover{
  background-color: #f0ad4e;
}

/* series info for series page */
.series-header{
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
}

.series-poster{
    box-shadow: 4px 4px 8px 0px rgb(190, 189, 189);
    
}

.series-title{
    margin-top:0;
    margin-bottom: 0;
}

.series-stats{
  list-style-type: none;
  padding-left: 0;

}

.series-overview{
  max-height:200px;
  overflow: auto;
}

/* epidsode info from series page */

.episode-image{
    margin-top:20px;
}

.episode-info{
    margin-top: 10px;
}

.episodes-table{
    margin-top: 10px;
    max-height: 350px;
}

.progress{
    margin-top: 30px;
    margin-bottom: 10px;
}

.ep-overview{
  max-height:250px;
  overflow: auto;
}


/* Episode Page */
.series-banner{
  min-width: 100%;
}

.ep-stats{
  list-style-type: none;
}

#review-accordian-btn{
  margin-bottom: 15px;
  margin-top: 15px;
}

.review-textarea{
  min-height: 150px;

}

.review-form{
  margin-top: 15px;
}

#save-btn{
  margin-bottom: 15px;
}

.ep-sub-head{
  margin-bottom: 0px;
}


.friend-reviews{
 max-height: 500px;
 overflow: auto;
}

.review-area{
  background-color: #eee;
  border-radius: 6px;
}

#edit-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#rating-ep{
  margin-top: 50px;
  margin-bottom: 0px;

}





/*
    Ratings Stars
    (with as little code as possible)
*/
.star{
  color:#adadad;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size:20px;
  margin-bottom: 15px;
  

}

.rating > span {
  display: inline-block;
  position: relative;

}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #f0ad4e;
}


.clicked:before,
.clicked ~ .clicked:before
{
   content: "\2605";
   position: absolute;
   left: 0; 
   color: #f0ad4e;
}

/* end rating stars */

.rating-friend-review{
  font-size: 12px;
  margin-bottom: 10px;

}