{% extends "base.html" %}

{% block body %}
<h2 id=my-shows>My Shows</h2>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li id="watching" class="active"><a>Currently Watching</a></li>
            <li id ="watched"><a>Watched</a></li>
            <li id = "to-watch"><a>To-Watch</a></li>
            <li id = "favorites"><a>Favorites</a></li>
        </ul>
    </div>
</div>
<hr>

<div class="series-posters"></div>

<script type="text/javascript">
     
    $('#watching').click(show_currently_watching);
    $('#watched').click(show_watched);
    $('#to-watch').click(show_to_watch);
    $('#favorites').click(show_favorites);
    
    function start() {
        $("#watching").click();
        
    }
    $(document).ready(start);

    function display_shows(rows) {
        for (var i = 0; i < rows.length; i++) {
            // Make a row
            var rowDiv = $('<div class="row poster-row">');
            for (var j=0; j<rows[i].length;j++) {
                var series = rows[i][j];
                console.log(series);
                if (series != 0) {
                    // Make a column
                    var colDiv = $('<div class="col-md-2">');
                    var img = $('<a class="series-link" href = "/series/'+ series.external_id +'"> <img class="img-responsive series-poster" alt="Responsive image" src="'+ series.poster +'"> </a>');
                    colDiv.append(img);
                    rowDiv.append(colDiv);
                    console.log(rowDiv)
                }
                $('.series-posters').append(rowDiv);
            }
        };
    }

    function get_show_list(url, target_pill) {
        $('.series-posters').empty();
        $('.nav-pills li').removeClass("active");
        $(target_pill).addClass("active");

        $.get(url, function(responseFromServer) {
            var rows = JSON.parse(responseFromServer);
            display_shows(rows);   
        });
    }

    function show_currently_watching(evt) {
        get_show_list("/my-shows/watching", this);
    }

    function show_watched(evt) {
        get_show_list("/my-shows/watched", this);
    }

    function show_to_watch(evt) {
        get_show_list("/my-shows/to-watch",this);
    }

    function show_favorites(evt) {
        get_show_list("/my-shows/favorites", this);
    }



</script>

{% endblock %}