{% extends "base.html" %}

{% block body %}
<h1>My Shows</h1>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li id="watching"><a>Currently Watching</a></li>
            <li id ="watched"><a>Watched</a></li>
            <li id = "to-watch"><a>To-Watch</a></li>
            <li id = "favorites"><a>Favorites</a></li>
        </ul>
    </div>
</div>

<div class="series-posters"></div>

<script type="text/javascript">

    $('#watching').click(function() {
        $('.series-posters').empty();
        $('.nav-pills li').removeClass("active");
        $('#watching').addClass("active");
        $.get('/my-shows/watching', function(responseFromServer) {
            var rows = JSON.parse(responseFromServer);
            for (var i = 0; i < rows.length; i++) {
                // Make a row
                var rowDiv = $('<div class="row poster-row">');
                for (var j=0; j<rows[i].length;j++) {
                    var series = rows[i][j];
                    console.log(series);
                    if (series != 0) {
                        // Make a column
                        var colDiv = $('<div class="col-md-2">');
                        var img = $('<img class="img-responsive series-poster" alt="Responsive image" src="'+ series.poster +'">')
                        var link = $('<a class="series-link" href = "/series/'+ series.external_id +'">' + series.title + '</a>');
                        colDiv.append(img);
                        colDiv.append(link);
                        rowDiv.append(colDiv);
                        console.log(rowDiv)
                    }
                    $('.series-posters').append(rowDiv);
                }
            };
        });
    });

    $('#watched').click(function() {
        $('.series-posters').empty();
        $('.nav-pills li').removeClass("active");
        $('#watched').addClass("active");
        $.get('/my-shows/watched', function(responseFromServer) {
            var rows = JSON.parse(responseFromServer);
            for (var i = 0; i < rows.length; i++) {
                // Make a row
                var rowDiv = $('<div class="row poster-row">');
                for (var j=0; j<rows[i].length;j++) {
                    var series = rows[i][j];
                    console.log(series);
                    if (series != 0) {
                        // Make a column
                        var colDiv = $('<div class="col-md-2">');
                        var img = $('<img class="img-responsive series-poster" alt="Responsive image" src="'+ series.poster +'">')
                        var link = $('<a class="series-link" href = "/series/'+ series.external_id +'">' + series.title + '</a>');
                        colDiv.append(img);
                        colDiv.append(link);
                        rowDiv.append(colDiv);
                        console.log(rowDiv)
                    }
                    $('.series-posters').append(rowDiv);
                }
            };
        });
    });

    $('#to-watch').click(function() {
        $('.series-posters').empty();
        $('.nav-pills li').removeClass("active");
        $('#to-watch').addClass("active");
        $.get('/my-shows/to-watch', function(responseFromServer) {
            var rows = JSON.parse(responseFromServer);
            for (var i = 0; i < rows.length; i++) {
                // Make a row
                var rowDiv = $('<div class="row poster-row">');
                for (var j=0; j<rows[i].length;j++) {
                    var series = rows[i][j];
                    console.log(series);
                    if (series != 0) {
                        // Make a column
                        var colDiv = $('<div class="col-md-2">');
                        var img = $('<img class="img-responsive series-poster" alt="Responsive image" src="'+ series.poster +'">')
                        var link = $('<a class="series-link" href = "/series/'+ series.external_id +'">' + series.title + '</a>');
                        colDiv.append(img);
                        colDiv.append(link);
                        rowDiv.append(colDiv);
                        console.log(rowDiv)
                    }
                    $('.series-posters').append(rowDiv);
                }
            };
        });
    });

    $('#favorites').click(function() {
        $('.series-posters').empty();
        $('.nav-pills li').removeClass("active");
        $('#favorites').addClass("active");
        $.get('/my-shows/favorites', function(responseFromServer) {
            var rows = JSON.parse(responseFromServer);
            for (var i = 0; i < rows.length; i++) {
                // Make a row
                var rowDiv = $('<div class="row poster-row">');
                for (var j=0; j<rows[i].length;j++) {
                    var series = rows[i][j];
                    console.log(series);
                    if (series != 0) {
                        // Make a column
                        var colDiv = $('<div class="col-md-2">');
                        var img = $('<img class="img-responsive series-poster" alt="Responsive image" src="'+ series.poster +'">')
                        var link = $('<a class="series-link" href = "/series/'+ series.external_id +'">' + series.title + '</a>');
                        colDiv.append(img);
                        colDiv.append(link);
                        rowDiv.append(colDiv);
                        console.log(rowDiv)
                    }
                    $('.series-posters').append(rowDiv);
                }
            };
        });
    });


</script>

{% endblock %}