{% extends "base.html" %}

{% block body %}
<div class="row">
    <form role="form" method="post" action="/search">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" name="search" placeholder="Search for series title">
      </div>
    </form>
</div>


{% if search_input != "" %}
<div class="row">    
    <div class="col-md-3"><p>Search results for "{{search_input}}":</p></div>
</div>

<div class="series-posters">
    {% for row in series_list %}
        <div class="row poster-row">
            {% for s in row %}
                {% if s != 0 %}
                    <div class="col-md-2">
                        <img class="img-responsive series-poster" alt="Responsive image" src="{{s.poster}}">
                        <a class="series-link" href = "/series/{{s.external_id}}">{{s.title}}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            
    {% endfor %}

</div>
{% endif %}
    


{% endblock %}
