{% extends "base.html" %}

{% macro show_episode_info(ep) %}
<div class="episode" id="ep-{{ep.season_num}}-{{ep.ep_num}}" style="display: none">
    <div class="row">
        
        
        <div class="episode-info col-md-6">
            <h4 class="ep-title">{{ep.title}}</h4>
            <p>{{ep.overview}}</p>
            <a href="/episode/{{ep.id}}">More episode info</a>

           
        </div>
        <div class="col-md-6">
             <img class="img-responsive episode-image" src="{{ep.image}}">
    
        </div>
    </div>
  
    
    
</div>
{% endmacro %}

{% block body %}

<!-- series header -->
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive series-fanart" src="{{series.fanart}}">
    </div>

     <div class ="col-md-4">
        <h2 class='series-title'>{{series.title}}</h2>
        <p class="series-overview">{{series.overview}}</p>


            <div class="progress">
                 <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{percent_watched}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_watched}}%;">
                    <span class="sr-only">{{percent_watched}}% Complete</span>
                </div>
            </div>
            <p id="progress-percent">You are {{percent_watched}}% complete.</p>


    </div>
       

</div>


<hr>

<!-- Watching and season buttons -->
<div class = "row"> 
    
     <div class="user-buttons col-md-8">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" id="watching">
            <input type="radio"  value="option1">
            Currently Watching
          </label>
          <label class="btn btn-default" id="watched">
            <input type="radio"  value="option2">
            Watched
          </label>
          <label class="btn btn-default" id="to-watch">
            <input type="radio"  value="option3">
            Want to Watch
          </label>
          <button type="button" class="btn btn-default" id="favorite">Favorite</button>
        </div>
    </div>

    <div class="season-buttons col-md-4">
        <div class="btn-group" data-toggle="buttons">
            {% for i in range(season_dict|length) %}

            <label class="btn btn-default season-button" id="season{{i+1}}">
                <input type="radio"  value="option{{i+1}}">
                {{i+1}}
            </label>

            {% endfor %}
        </div>
         
    </div>

</div>



<!-- episode info -->
<div class="row">

    <div class="col-md-8">
        {% for season_num in season_dict.keys() %}
        {% for episode in season_dict[season_num] %}
          {{ show_episode_info(episode) }}
        {% endfor %}
        {% endfor %}
    </div>

   <!--  episode table -->

    <div class="episodes-table col-md-4">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Episode Title</th>
                    <th>Watched</th>
                </tr>
            </thead>
            
              
                {% for i in range (season_dict|length) %}
                    <tbody id = "season{{i+1}}-table" season="{{i+1}}">
                    {% for e in season_dict[i+1] %}
                    
                        <tr class="episode-row">

                            <td>{{e.ep_num}}</td>
                            <td>{{e.title}}</td>
                            <td>
                                {% if e.id in watched_ep_ids %}
                                    <button type="button" id = "{{e.id}}" class="btn btn-warning watch-button ep-watched btn-sm">
                                        Watched!
                                    </button>
                                {% else %}
                                <button type="button" id = "{{e.id}}" class="btn btn-success watch-button ep-unwatched btn-sm">
                                    Unwatched
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                   
                    {% endfor %}
                    </tbody>
                {% endfor %}
             
        </table>

    </div>

</div>
<hr>




<script type="text/javascript">
    
    function start(){
        $("#season1").click();
        $("#ep-1-1").show();

        console.log('start click')
    }
    
    $(document).ready(start);


    $('.btn-group').button()

    if ("{{state}}" == "watching") {
        $("#watching").button('toggle');
    };

    if ("{{state}}" == "watched") {
       $("#watched").button('toggle');
    };

    if ("{{state}}" == "to-watch") {
        $("#to-watch").button('toggle');
    };

    $('#watching').click(update_show_state_to_watching);
    $('#watched').click(update_show_state_to_watched);
    $('#to-watch').click(update_show_state_want_to_watch);
    
    $('#favorite').click(function(e) {
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        $.post("/add-fav-series", {series_id:seriesId, user_id:userId});

    });

   

    function change_show_state(state){
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        var state = state;
        $.post("/add-user-series", {series_id:seriesId, user_id:userId, state:state});  
    }

    function update_show_state_to_watching(evt){
        change_show_state("watching");
    }

    function update_show_state_to_watched(evt){
        change_show_state("watched");
    }

    function update_show_state_want_to_watch(evt){
        change_show_state("to-watch");
    }

    $('.season-button').click(show_season_episodes);

    function show_season_episodes(evt){
        $("tbody").hide();
        console.log("#"+this.id+"-table");
        $("#"+this.id+"-table").show();
    }

    $('.watch-button').click(function(e) {
        console.log('watch button clicked!');
        var episodeId = this.id;
        console.log(episodeId);
        var userId = {{current_user.id}};
        if ($(this).html()=='Unwatched') {
                $(this).addClass('ep-watched btn-warning').removeClass('ep-unwatched btn-success').html('Watched!');
                $.post("/update-watched-episode", {episode_id:episodeId, user_id:userId, status:true});
            } else {
                $(this).addClass('ep-unwatched btn-success').removeClass('ep-watched btn-warning').html('Unwatched');
                $.post("/update-watched-episode", {episode_id:episodeId, user_id:userId, status:false});
            }
            

        });

    // $('.episode-row').click(show_episode_info);
    $('.episode-row').hover(show_episode_info);

    // var all_seasons = {{season_dict | safe}};
    function show_episode_info(evt){
        var ep_num = $(this).children()[0].innerHTML
        var season_num = $(this).parent().attr("season");
        season_num = parseInt(season_num)

        var episode_div_id = "ep-" + season_num + "-" + ep_num;
        $(".episode").hide();
        $("#"+episode_div_id).show();
        console.log(episode_div_id);

    }
    

    
   


</script>
{% endblock %}
