{% extends "base.html" %}

{% block body %}

<h2>{{series.title}}</h2>
<div class="row">
    <div class="col-md-6 series-header">
        <p>test</test>
        <img class="img-responsive series-fanart" src="{{series.fanart}}">

    </div>


</div>


{{series.overview}}


<div class="row">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="watching" value="option1">
        Currently Watching
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="watched" value="option2">
        Watched
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"  name="optionsRadios" id="to-watch" value="option3">
        Want to Watch
      </label>
    </div>
</div>

<button type="button" id="favorite" class="btn btn-primary">Favorite</button>


<script type="text/javascript">

    if ("{{state}}" == "watching") {
        $("#watching").attr('checked','checked');
    };

    if ("{{state}}" == "watched") {
        $("#watched").attr('checked','checked');
    };

    if ("{{state}}" == "to-watch") {
        $("#to-watch").attr('checked','checked');
    };


    $('#watched').click(function(e) {
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        var state = 'watched';
        $.post("/add-user-series", {series_id:seriesId, user_id:userId, state:state});

    });

    $('#watching').click(function(e) {
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        var state = 'watching';
        $.post("/add-user-series", {series_id:seriesId, user_id:userId, state:state});

    });

    $('#to-watch').click(function(e) {
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        var state = 'to-watch';
        $.post("/add-user-series", {series_id:seriesId, user_id:userId, state:state});

    });

    $('#favorite').click(function(e) {
        console.log('link clicked!');
        var seriesId = {{series.id}};
        var userId = {{current_user.id}};
        $.post("/add-fav-series", {series_id:seriesId, user_id:userId});

    });


</script>
{% endblock %}
